<div class="container center-align animated bounceInDown" ng-hide="Boards.boards == ''">
  <center>
    <div class="row">
      <div class="col s4">
        <div class="newBoard">
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Create Board</div>
              <div class="collapsible-body">
                <h5>New Board</h5>
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="Name">Name</label>
                      <br>
                      <input 
                        placeholder="Name" 
                        id="Name" 
                        type="text" 
                        class="validate"
                        ng-model="Boards.newBoard.name"
                        required>
                    </div>
                    
                    <div class="input-field col s6">
                      <label for="startingDate">Starting Date</label>
                      <br>
                      <input 
                        type="date"
                        class="" 
                        ng-model="Boards.newBoard.startingDate"
                        required>
                    </div>
                    
                    <div class="input-field col s6">
                      <label for="endingDate">Ending Date</label>
                      <br>
                      <input
                        type="date" 
                        class=""
                        ng-model="Boards.newBoard.endingdate"
                        required>
                    </div>

                    <div class="input-field col s6">
                      <label for="endingDate">Owner</label>
                      <select class="" ng-model="Boards.newBoard.owner" material-select watch>
                          <option ng-repeat="owner in Boards.users">{{owner.name}}</option>
                      </select>
                    </div>

                    <div class="input-field col s6">
                      <label for="endingDate">Collabs</label>
                      <select class="" ng-model="Boards.owner" material-select watch>
                          <option ng-repeat="collabs in Boards.users">{{collabs.name}}</option>
                      </select>
                    </div>
                    
                    <div class="input-field col s12">
                      <textarea 
                        id="description" 
                        class="materialize-textarea"
                        ng-model="Boards.newBoard.description"></textarea>
                      <label for="description">Description</label>
                    </div>
                  </div>
                  <center>
                    <a
                      class="waves-effect waves-green btn-flat green collapsible" data-collapsible="accordion"
                      ng-click="Boards.createBoard(Boards.newBoard)">
                      Create
                    </a>
                  </center>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="col s4">
        <div class="newBoard">
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Create Team</div>
              <div class="collapsible-body">
                <h5>New Team</h5>
                
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="col s4">
        <div class="newBoard">
          <ul class="collapsible popout" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Filter</div>
              <div class="collapsible-body">
                <p>Boards</p>
                <p>
                  <a ng-click="Boards.reorderByBddOrder()" class="waves-effect waves-light waves-white btn teal">
                    <span ng-show="Boards.idOrder == '$id'">
                      Last Added
                    </span>
                    <span ng-show="Boards.idOrder == '-$id'">
                      First Added
                    </span>
                  </a>

                  <a ng-click="Boards.reorderByName()" class="waves-effect waves-light waves-white btn teal">
                    <span ng-hide="Boards.nameOrder == '-name'">
                      Z-A
                    </span>
                    <span ng-show="Boards.nameOrder == '-name'">
                      A-Z
                    </span>
                  </a>
                </p>
                <p>Teams</p>
                <p>
                  <a ng-click="Boards.reorderByBddOrder()" class="waves-effect waves-light waves-white btn teal">
                    <span ng-show="Boards.idOrder == '$id'">
                      Last Added
                    </span>
                    <span ng-show="Boards.idOrder == '-$id'">
                      First Added
                    </span>
                  </a>

                  <a ng-click="Boards.reorderByName()" class="waves-effect waves-light waves-white btn teal">
                    <span ng-hide="Boards.nameOrder == '-name'">
                      Z-A
                    </span>
                    <span ng-show="Boards.nameOrder == '-name'">
                      A-Z
                    </span>
                  </a>
                </p>
              </div>
            </li>

          </ul>

        </div>
      </div>
    </div>
  </center>
</div>

<div class="row">
  <div class="col s2" ng-repeat="board in Boards.boards | orderBy : Boards.order track by board.$id">
    <div class="card blue-grey lighten-5">
      <div class="card-content center-align">
        <span class="card-title activator grey-text text-darken-4">
          {{board.name}}
          <i class="material-icons right">more_vert</i>
        </span>
        <p>
          <strong class="orange-text activator">START</strong> 
        </p>
        <p> 
          {{board.startingDate | date:' dd MMMM yyyy'}}
        </p>
        <br>
        <p>
          <strong class="green-text activator">END</strong> 
        </p>
        <p>
          {{board.endingDate | date:' dd MMMM yyyy'}}
        </p>
      </div>
      <div class="card-reveal center-align">
        <span class="card-title grey-text text-darken-4">
          {{board.name}}
          <i class="material-icons right">close</i>
        </span>
        <p> {{board.description}}</p>
        <p>
          <a ui-sref="Oneboard({ boardId: board.$id})"
            class="btn-floating">
            <span>
              <i class="small material-icons">visibility</i>
            </span>
          </a>
          
          <a class="btn-floating red" 
            ng-click="Boards.deleteBoard(board)">
            <span>
              <i class="small material-icons">delete</i>
            </span>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

