<!-- Menu button -->
<div class=" fixed-action-btn horizontal right-align">
    <a class="btn-floating btn-large teal accent-4">
      <i class="large material-icons">settings</i>
    </a>
    <ul>
      <li>
      	<a class="btn-floating red modal-trigger tooltipped " 
	       data-position="bottom" 
	       data-delay="50" 
	       data-tooltip="Create A new Board"
  		   href="#modal1"
  		   >
  		   	<i class="material-icons">playlist_add</i>
  		  </a>
  	  </li>
      <!-- <li>
      	<a class="btn-floating yellow darken-1">
      		<i class="material-icons">format_quote</i>
      	</a>
      </li>
      <li>
    		<a class="btn-floating green">
    			<i class="material-icons">publish</i>
    		</a>
      </li>
      <li>
      	<a class="btn-floating blue">
      		<i class="material-icons">attach_file</i>
      	</a>
      </li> -->
    </ul>
</div>

 <!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <div class="row">
      <h5>New Board</h5>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <label for="Name">Name</label>
            <br>
            <input 
              placeholder="Name" 
              id="Name" 
              type="text" 
              class="validate"
              ng-model="App.newBoard.name">
          </div>
          
          <div class="input-field col s6">
            <label for="startingDate">Starting Date</label>
            <br>
            <input 
              type="date" 
              class="datepicker"
              ng-model="App.newBoard.startingDate">
          </div>

          <div class="input-field col s6">
            <label for="endingDate">Ending Date</label>
            <br>
            <input 
              type="date" 
              class="datepicker"
              ng-model="App.newBoard.endingdate">
          </div>
          
          <div class="input-field col s12">
            <textarea 
              id="description" 
              class="materialize-textarea"
              ng-model="App.newBoard.description"></textarea>
            <label for="description">Description</label>
          </div>
        </div>
      </form>
    </div> 
  </div>
  <div class="modal-footer">
    <a href="#!" 
      class=" modal-action modal-close waves-effect waves-green btn-flat green"
      ng-click="App.createBoard(App.newBoard)">
      Agree
    </a>
    <a href="#!" 
        class=" modal-action modal-close waves-effect waves-red btn-flat red">
        Cancel
    </a>
  </div>
</div>

