input {
	border-radius: 35px;
}
ul{
	display: inline-block;
	margin: 2rem;
}
.board .uk-offcanvas-bar {
    width: 700px;
}
.status h3{
	position: static;
}
.uk-navbar{
    background-color: #00bfa5;
    color: #fff;
}
.uk-navbar-nav > li > a {
    color: #fff;
    font-size: 1.3rem;
}
.uk-navbar-center{
    font-size: 3rem;
}
.uk-button-success{
    background-color: #00bfa5;
    color: #fff;
}

#boards {
	margin:1.5rem;
}
.placeholder-left, .placeholder-right{
width: 100%;
height: 38px;
text-align: center;
background: teal; 
border: 3px dashed black; 
box-sizing: border-box;
display: table;
margin-bottom: 5px;
& > span{
	display: table-cell;
	vertical-align: middle;
}