@import url(https://fonts.googleapis.com/css?family=Niconne);
body{
  background-color: #bdbdbd ;
}

nav {
    color: #fff;
    background-color: #263238;
}

nav ul a {
    font-size: 1.9rem;
}

h1 { 
    font-family: 'Niconne', cursive; 
    font-weight: 400; 
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 40px;
    line-height: 35px;
}
nav .brand-logo{
    font-size: 2.8rem;
}
.newBoard{
    width: 30rem;
}
.newBoard form{
    background-color: #fff;
}
.card {
    background-color: #eceff1;
}
.welcome{
    margin-top: 7rem
}
.welcome h1{
    font-size: 15rem
}
.welcome h3{
    margin-top: 7rem;
    font-family: 'Niconne', cursive;
    font-size: 4rem;
    font-weight: 400; 
}
.oneBordTitle{
    font-family: 'Niconne', cursive;
    font-size: 40px;
}
.steps {
    font-size: 3rem;
    font-family: 'Niconne', cursive;
    color: #004d40;
}
.boardContent ul {
    margin-left: 90px;
    display: inline-table;
    list-style-type: none;
}

.activator {
    cursor: pointer;
}

.side-nav {
    background-color: #fafafa;
}
.side-nav a {
    color: #fff;
}
s
.btn, .btn-large {
    background-color: #ff6f00;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea {
    margin-left: 3rem;
    width: calc(50% - 3rem);
    text-align: center;
}

.Niconned { 
	font-family: 'Niconne', cursive; 
	font-weight: 400;
}

.cardRevealMenu a {
    color: #000;
}

#newProjectBtn{
    margin-top: 1rem;
}
